.grid-movies {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    padding: 16px;
}

@media (max-width: 768px) {
    .grid-movies {
        grid-template-columns: 1fr;
    }
}
